<div class="container-fluid text-center">    
    <div class="row content">
      <div class="col-sm-2 sidenav">       
       
      </div> 
      <div class="col-sm-8 text-left"> 
        <h1 align="center">Welcome</h1>
        <p align="center">To make the world more safer by helping other.</p>
        <p>Report an incident if you lost something like your loved once, Dog, Car, Bike or Mobile to this portal. And provide your contact details and if founded by someone they inform you.</p>
        <p>You may announce some reward to get your things back.</p>
        <hr>
        
      </div>   
      <div class="col-sm-2 sidenav">       
       
    </div>  
    </div>
  </div>