<!DOCTYPE html>
<html lang="en">
<body>  
<div class="row">
  <div class="column">
    <div class="card">
      <img src="assets/image/vivek.jpg" alt="vivek" class="center">
      <div class="container">
        <h2>Vivek Kumar</h2>
        <p class="title">Developer &amp; Designer</p>
        <p>Vivek has 3 years of IT experience including Cognizant.</p>
        <p>Vivek holds a BE degree from Pune University.</p>
        <!-- <p><button class="button">Contact</button></p> --> 
      </div>
    </div>
  </div>  
  <div class="column">
    <div class="card">
      <img src="assets/image/abdul.jpg" alt="abdul" class="center">
      <div class="container">
        <h2>Abdul Badi</h2>
        <p class="title">Tester &amp; Adviser</p>
        <p>Abdul has 4 years of testing experience largely at Accenture.</p>
        <p>Abdul has a BE from Kolkatta.</p>
        <!--  <p><button class="button">Contact</button></p> -->
      </div>
    </div>
  </div>
</div>
</body>
</html>

